.idea
venv/
imgs/
aligned/

# Remove cached files
*.pyc

# For venv on Windows
pyvenv.cfg
Lib/
Scripts/

# For setup tools
*.egg-info

# Ignore the automatic output of img-align
*composite*.jpg
matches.jpg
*.Rproj.user
*.Rproj